@import "tailwindcss";

@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: 0;
	}
	body {
		@apply bg-bgDark;
		@apply text-white;
	}
}
@theme {
	--color-bgDark: #141414;
}
@layer components {
	.swiper-button-next,
	.swiper-button-prev,
	.swiper-button-next::after,
	.swiper-button-prev::after {
		@apply text-white;
	}
}
